<p>servers works!</p>
<label for="ServerName">Server Name</label>
<!-- <input
  type="text"
  class="form-control"
  placeholder="enter name"
  (input)="onUpdateServerName($event)"
/> -->
<input
  type="text"
  class="form-control"
  placeholder="enter name"
  [(ngModel)]="serverName"
/>
<!-- <p>{{ serverName }}</p> -->

<button
  class="btn btn-primary"
  [disabled]="!addNewServers"
  (click)="onServerCreation()"
>
  Add Servers
</button>

<!-- <p>{{ serverCreationStatus }}</p> -->
<p *ngIf="serverCreated">{{ serverCreationStatus }}</p>

<!-- this is string interpolation
<p>{{ addNewServers }}</p>
<p [innerText]="addNewServers"></p> 
//this is property binding
-->
<app-server *ngFor="let item of serverArray"></app-server>
<app-testing-display-serv></app-testing-display-serv>
<app-assignment32></app-assignment32>
